<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <style>
        input{
            font-size: 33px;
            
        }
        button{
            margin-top: 10px;
        }
    </style>
</head>
<body>
   <form action="/" method="post">
        <label for="">User Name</label>
        <input name="userName" type="text">
        <br>
        <button>Sebd to database</button>
   </form>
</body>


</html>